@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
}

body {
    background: #585858;
    padding: 0 10px;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
    padding: 30px;
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .inputfield {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.btn {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    outline: none;
    text-transform: uppercase;
}

.btn:hover {
    background: #ffd658;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

img {
    width: 100%;
    align-items: center;
}
